body{
    background-color: rgb(227, 240, 251);
}
.parent{
    position: relative;
    left: 600px;
    
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border: 1px  solid white;
    border-radius: 20px;
    width: 280px;
    height: 450px;
    background-color: white;
    margin-top: 150px;
}
img{
    width: 250px;
    border-radius: 10px;
}
.ch{
    padding:10px;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17px;
}
.fontcolor{
    color:gray;
}




